@import './variable.scss';

#inventory_content{

    #inventory_content_top{

        #content_header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 35px 40px;

            font-family: $mainFont;

            #content_header_title{


                h3{
                    font-weight: bold;
                    font-size: $f24;
                    margin-bottom: 0;
                    margin-top: 10px;
                }
                p{
                    font-size: $f14;
                    margin-top: 10px;
                }
            }
            
            #add_new_item{
                display: flex;
                justify-content: center;
                align-items: center;

                font-family: $mainFont;
                font-family: $f15;

                width: 162px;
                height: 46px;

                background-color: #F0483E;
                border-radius: 3px;
                color: white;

                cursor: pointer;

                p{
                    margin-left: 7px;
                }
            }
        }
    }

    #inventory_content_bottom {
        margin: 0 40px;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .card{
            flex: 0 0 20%;
            margin-bottom: 25px;
        }
    }
}