// Colors :

$black1 : #283342;
$black2 : #1D242E;
$yellow : #FED600;

// Margin : 

$marginLink : 10;

// texts : 

$sideFont : "Poppins", sans-serif ;
// font Size

$f11 : 11px;
$f14 : 11px;
$f15 : 15px;