// Colors :

$black1 : #283342;
$black2 : #1D242E;
$yellow : #FED600;
$blue : #009099;

$searchBarColor : #F7FAFD;
$contentBodyColor : #edf1f5;

// Margin : 

$marginLink : 10;

// texts : 

$mainFont : "Poppins", sans-serif ;
// font Size

$f10 : 10px;
$f11 : 11px;
$f12 : 12px;
$f14 : 11px;
$f15 : 15px;